<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fa-solid fa-list-ul"></i> My Dating Info</h1>
      <table width=“400” height=“200" style="font-size:18px; border-bottom:1px solid gainsboro">
          <tr>
            <td >Nickname:</td>
            <td ><%= datingDatum.nickName %></td>
          </tr>
          <tr>
            <td >Sex:</td>
            <td ><%= datingDatum.sex %></td>
          </tr>
          <tr>
            <td >Age:</td>
            <td ><%= datingDatum.age %></td>
          </tr>
          <tr>
            <td >Email:</td>
            <td ><%= datingDatum.email %></td>
          </tr>
          <tr>
            <td  >Hobbies:</td>
            <td  ><%= datingDatum.hobbies %></td>
          </tr>
          <tr>
            <td >Location:</td>
            <td ><%= datingDatum.location %></td>
          </tr>
          <tr>
            <td >Covid Status:</td>
            <td ><%= datingDatum.covidStatus %></td>
          </tr>
          </table>
      <p class="lead mt-4">
        Dating now? <a href="/datingmatch">Dating Match</a>
      </p>
    </div>
  </div>
</div>