<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fa-solid fa-list-ul"></i>  Dating Match</h1>
      <%- include("./partials/messages") %>
      <TABLE width=“400” height=“200" style="font-size:18px">
        <TR>
          <TD >Nickname:</TD>
          <TD ><%= name %></TD>
        </TR>
        <TR>
          <TD >Sex:</TD>
          <TD ><%= sex %></TD>
        </TR>
        <TR>
          <TD >Age:</TD>
          <TD ><%= age %></TD>
        </TR>
        <TR>
          <TD >Email:</TD>
          <TD ><%= email %></TD>
        </TR>
        <TR>
          <TD  >Hobbies:</TD>
          <TD  ><%= hobbies %></TD>
        </TR>
        <TR>
          <TD >Location:</TD>
          <TD ><%= location %></TD>
        </TR>
        <TR>
          <TD >Covid Status:</TD>
          <TD ><%= covidStatus %></TD>
        </TR>
    </TABLE>
    </div>
  </div>
</div>